{% extends "base.html.twig" %}


{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-warning static-top">
  <div class="container">
    <a class="navbar-brand" href="/empleados">
      <img src="/images/gateway.png" alt="..." height="36" >
    </a>
    <h1 style="text-align: center;">Coviza Gateway</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.rnbcosmeticos.com/">Partner</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catálogo
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">  
            <li><a class="dropdown-item" href="/pedidos">Lista de Pedidos</a></li>
            <li><a class="dropdown-item" href="/empleados">Lista de Empleados</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/productos">Lista de Productos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
    <table class="table table-warning table-striped table-hover table-bordered" style="width:100%">
        <thead>
            <caption>Lista de Clientes</caption>
            <tr>
                <th scope="col">Cliente Cod</th>
                <th scope="col">Nombre</th>
                <th scope="col">DIREC</th>
                <th scope="col">CIUDAD</th>
                <th scope="col">ESTADO</th>
                <th scope="col">COD_POSTAL</th>
                <th scope="col">AREA</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">REPR_COD </th>
                <th scope="col">LIMITE_CREDITO</th>
                <th scope="col">OBSERVACIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in resultados %}
            <tr>
                <td scope="row"> <a href="/pedidos/{{datos.getClienteCod()}}"> {{ datos.getClienteCod() }}</a></td>
                <td scope="row">{{ datos.getNombre() }}</td>
                <td scope="row">{{ datos.getDireccion() }}</td>
                <td scope="row">{{ datos.getCiudad }}</td>
                <td scope="row">{{ datos.getEstado() }}</td>
                <td scope="row">{{ datos.getCodPostal() }}</td>
                <td scope="row">{{ datos.getArea() }}</td>
                <td scope="row">{{ datos.getTelefono() }}</td>
                <td scope="row">{{ datos.getEmp().getEmpNo }}</td>
                <td scope="row">{{ datos.getLimiteCredito() }}</td>
                <td scope="row">{{ datos.getObservaciones() }}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Pablo_Coviza</span>
      </div>
    </footer>

{% endblock %}